# Python
__pycache__/
*.py[cod]
*.pyc
venv/
venv_wsl/
env/
ENV/

# Base de données
database.db
*.db
*.sqlite

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
.env
*.pem
*.key